# ---- RabbitMQ ----
RABBITMQ_URL=amqp://admin:admin@rabbitmq:5672/

# ---- MinIO ----
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=minio12345

# ---- Buckets ----
RAW_BUCKET=raw-videos-trim
PROCESSED_BUCKET=processed-videos-trim

# ---- Queue ----
QUEUE_NAME=trim_video_queue
STATE_MACHINE_QUEUE=orders

# ---- Queue config ----
MAX_RETRIES=3
QUEUE_MAX_LENGTH=1000

# ---- Business logic ----
MAX_SECONDS=30